.screen {
    position: relative;
    width: 320px;
    height: 1360px;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .screen .rectangle {
    position: absolute;
    top: 71px;
    left: 304px;
    width: 90px;
    height: 26px;
    background-color: #ffffff;
    transform: rotate(180deg);
  }
  
  .screen .group {
    position: absolute;
    top: 197px;
    left: 493px;
    width: 242px;
    height: 51px;
    border-radius: 0px 10px 10px 10px;
  }
  
  .screen .div {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 51px;
    background-color: #ffffff;
    border-radius: 12.24px;
    box-shadow: 0px 0px 19.2px #0000001a;
  }
  
  .screen .screenshot {
    position: absolute;
    top: -35916px;
    left: 22061px;
    width: 37px;
    height: 37px;
  }
  
  .screen .rectangle-2 {
    position: absolute;
    top: 23px;
    left: 22px;
    width: 14px;
    height: 6px;
    background-color: #b3da4c;
  }
  
  .screen .text-wrapper {
    position: absolute;
    top: 23px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-2 {
    position: absolute;
    top: 11px;
    left: 55px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
    color: #404040;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-3 {
    position: absolute;
    top: 29px;
    left: 55px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    color: #6f6f6f;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .p {
    top: 31px;
    left: 23px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .span {
    font-weight: 700;
  }
  
  .screen .text-wrapper-4 {
    font-family: "Montserrat", Helvetica, sans-serif;
  }
  
  .screen .text-wrapper-5 {
    top: 64px;
    left: 45px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .rectangle-wrapper {
    position: absolute;
    top: 65px;
    left: 86px;
    width: 16px;
    height: 16px;
    display: flex;
    background-color: #ececec;
    border-radius: 8px;
  }
  
  .screen .img {
    margin-top: 6.5px;
    width: 7.89px;
    height: 4.45px;
    margin-left: 4.1px;
  }
  
  .screen .mask-group {
    position: absolute;
    top: 65px;
    left: 24px;
    width: 16px;
    height: 16px;
  }
  
  .screen .rectangle-3 {
    position: absolute;
    top: 122px;
    left: 13px;
    width: 294px;
    height: 148px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid;
    border-color: #0000001a;
    backdrop-filter: blur(4.36px) brightness(100%);
    -webkit-backdrop-filter: blur(4.36px) brightness(100%);
  }
  
  .screen .rectangle-4 {
    position: absolute;
    top: 300px;
    left: 13px;
    width: 294px;
    height: 160px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid;
    border-color: #0000001a;
    backdrop-filter: blur(4.36px) brightness(100%);
    -webkit-backdrop-filter: blur(4.36px) brightness(100%);
  }
  
  .screen .rectangle-5 {
    position: absolute;
    top: 490px;
    left: 13px;
    width: 294px;
    height: 435px;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid;
    border-color: #0000001a;
    backdrop-filter: blur(4.36px) brightness(100%);
    -webkit-backdrop-filter: blur(4.36px) brightness(100%);
  }
  
  .screen .rectangle-6 {
    position: absolute;
    top: 101px;
    left: 13px;
    width: 179px;
    height: 21px;
    background-color: var(--green-light);
    border-radius: 11px 11px 5px 0px;
    z-index: 0;
  }
  
  .screen .rectangle-7 {
    position: absolute;
    top: 279px;
    left: 13px;
    width: 191px;
    height: 21px;
    background-color: var(--green-light);
    border-radius: 11px 11px 5px 0px;
    z-index: 0;
  }
  
  .screen .rectangle-8 {
    position: absolute;
    top: 469px;
    left: 13px;
    width: 157px;
    height: 21px;
    background-color: var(--green-light);
    border-radius: 11px 11px 5px 0px;
    z-index: 0;
  }
  
  .screen .text-wrapper-6 {
    top: 104px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    z-index: 1;
  }
  
  .screen .text-wrapper-7 {
    top: 142px;
    left: 24px;
    width: 164px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-8 {
    top: 205px;
    left: 24px;
    width: 117px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-9 {
    top: 241px;
    left: 23px;
    width: 118px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-10 {
    top: 179px;
    left: 24px;
    width: 87px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-11 {
    position: absolute;
    top: 152px;
    left: 121px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-12 {
    top: 182px;
    left: 121px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-13 {
    top: 215px;
    left: 121px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-14 {
    top: 241px;
    left: 121px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-15 {
    top: 152px;
    left: 215px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-16 {
    top: 182px;
    left: 215px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-17 {
    top: 215px;
    left: 215px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-18 {
    top: 241px;
    left: 215px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-19 {
    top: 152px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-20 {
    top: 182px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-21 {
    top: 215px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-22 {
    top: 241px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-23 {
    top: 152px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-24 {
    top: 182px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-25 {
    top: 215px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-26 {
    top: 241px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-27 {
    top: 320px;
    left: 25px;
    width: 164px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-28 {
    top: 507px;
    left: 25px;
    width: 164px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-29 {
    top: 393px;
    left: 25px;
    width: 117px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-30 {
    top: 570px;
    left: 25px;
    width: 117px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-31 {
    top: 418px;
    left: 24px;
    width: 118px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-32 {
    top: 616px;
    left: 24px;
    width: 118px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-33 {
    top: 357px;
    left: 25px;
    width: 87px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-34 {
    top: 544px;
    left: 25px;
    width: 87px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-35 {
    top: 330px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-36 {
    top: 517px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-37 {
    top: 724px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-38 {
    top: 750px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-39 {
    top: 787px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-40 {
    top: 549px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-41 {
    top: 583px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-42 {
    top: 616px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-43 {
    top: 365px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-44 {
    top: 396px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-45 {
    top: 426px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-46 {
    top: 330px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-47 {
    top: 517px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-48 {
    top: 724px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-49 {
    top: 750px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-50 {
    top: 787px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-51 {
    top: 549px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-52 {
    top: 583px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-53 {
    top: 616px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-54 {
    top: 365px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-55 {
    top: 396px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-56 {
    top: 426px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-57 {
    top: 330px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-58 {
    top: 517px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-59 {
    top: 724px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-60 {
    top: 750px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-61 {
    top: 787px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-62 {
    top: 549px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-63 {
    top: 583px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-64 {
    top: 616px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-65 {
    top: 365px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-66 {
    top: 396px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-67 {
    top: 426px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-68 {
    top: 330px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-69 {
    top: 517px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-70 {
    top: 724px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-71 {
    top: 750px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-72 {
    top: 787px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-73 {
    top: 549px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-74 {
    top: 583px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-75 {
    top: 616px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-76 {
    top: 365px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-77 {
    top: 396px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-78 {
    top: 426px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-79 {
    top: 64px;
    left: 121px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .rectangle-9 {
    position: absolute;
    top: 68px;
    left: 266px;
    width: 5px;
    height: 9px;
  }
  
  .screen .text-wrapper-80 {
    top: 282px;
    left: 25px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    z-index: 1;
  }
  
  .screen .text-wrapper-81 {
    top: 472px;
    left: 25px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    z-index: 1;
  }
  
  .screen .div-2 {
    top: 941px;
    left: 24px;
    width: 650px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-82 {
    position: absolute;
    top: 1265px;
    left: 31px;
    width: 17px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .element {
    top: 1299px;
    left: 86px;
    width: 35px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 8px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-2 {
    top: 1299px;
    left: 128px;
    width: 36px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 8px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-3 {
    top: 1299px;
    left: 169px;
    width: 40px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 8px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-4 {
    top: 1299px;
    left: 211px;
    width: 37px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 8px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-83 {
    top: 1236px;
    left: 31px;
    width: 19px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-84 {
    top: 1210px;
    left: 31px;
    width: 19px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-85 {
    top: 1183px;
    left: 31px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-86 {
    top: 1175px;
    left: 93px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-87 {
    top: 1090px;
    left: 135px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-88 {
    top: 1031px;
    left: 177px;
    width: 21px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-89 {
    top: 987px;
    left: 218px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-90 {
    top: 1155px;
    left: 31px;
    width: 19px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-91 {
    top: 1123px;
    left: 31px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-92 {
    top: 1092px;
    left: 31px;
    width: 19px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-93 {
    top: 1056px;
    left: 31px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-94 {
    top: 1025px;
    left: 31px;
    width: 20px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-95 {
    top: 993px;
    left: 24px;
    width: 26px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .line {
    top: 1265px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-2 {
    top: 1236px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-3 {
    top: 1210px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-4 {
    top: 1183px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-5 {
    top: 1155px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-6 {
    top: 1123px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-7 {
    top: 1092px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-8 {
    top: 1056px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-9 {
    top: 1025px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .line-10 {
    top: 993px;
    left: 57px;
    position: absolute;
    width: 233px;
    height: 1px;
    background-color: #e0e0e0;
    border: none;
  }
  
  .screen .rectangle-10 {
    position: absolute;
    top: 1192px;
    left: 87px;
    width: 33px;
    height: 103px;
    background-color: var(--green);
    border-radius: 3px 3px 0px 0px;
  }
  
  .screen .rectangle-11 {
    position: absolute;
    top: 1106px;
    left: 128px;
    width: 34px;
    height: 189px;
    background-color: var(--green);
    border-radius: 3px 3px 0px 0px;
  }
  
  .screen .rectangle-12 {
    position: absolute;
    top: 1047px;
    left: 170px;
    width: 33px;
    height: 248px;
    background-color: #d9d9d9;
    border-radius: 3px 3px 0px 0px;
  }
  
  .screen .rectangle-13 {
    position: absolute;
    top: 1004px;
    left: 211px;
    width: 34px;
    height: 291px;
    background-color: #d9d9d9;
    border-radius: 3px 3px 0px 0px;
  }
  
  .screen .text-wrapper-96 {
    top: 745px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-97 {
    top: 772px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-98 {
    top: 719px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-5 {
    top: 310px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-6 {
    top: 310px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-7 {
    top: 310px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-8 {
    top: 310px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-9 {
    top: 497px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-10 {
    top: 497px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-11 {
    top: 497px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-12 {
    top: 497px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-13 {
    top: 131px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-14 {
    top: 131px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-15 {
    top: 131px;
    left: 259px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .element-16 {
    top: 131px;
    left: 169px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .rectangle-14 {
    position: absolute;
    top: 645px;
    left: 19px;
    width: 282px;
    height: 59px;
    background-color: #d9d9d975;
    border-radius: 4px;
  }
  
  .screen .text-wrapper-99 {
    top: 655px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-100 {
    top: 681px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-101 {
    top: 655px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-102 {
    top: 681px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-103 {
    top: 655px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-104 {
    top: 681px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-105 {
    top: 655px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-106 {
    top: 681px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-107 {
    top: 650px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-108 {
    top: 676px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .rectangle-15 {
    position: absolute;
    top: 827px;
    left: 19px;
    width: 282px;
    height: 92px;
    background-color: #d9d9d975;
    border-radius: 4px;
  }
  
  .screen .text-wrapper-109 {
    top: 831px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-110 {
    top: 857px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-111 {
    top: 883px;
    left: 24px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-112 {
    top: 836px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-113 {
    top: 862px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-114 {
    top: 893px;
    left: 122px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-115 {
    top: 836px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-116 {
    top: 862px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-117 {
    top: 893px;
    left: 216px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-118 {
    top: 836px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-119 {
    top: 862px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-120 {
    top: 893px;
    left: 260px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-121 {
    top: 836px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-122 {
    top: 862px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-123 {
    top: 893px;
    left: 170px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  